Django==2.1.5
django-cors-headers==3.0.1
django-heroku==0.3.1
djangorestframework==3.9.4
docutils==0.14
Faker==1.0.2
gunicorn==19.9.0
jmespath==0.9.4
Pillow==6.0.0
pyasn1==0.4.5
pyserial==3.4
python-dateutil==2.7.5
python-decouple==3.1
pytz==2018.9
PyYAML==3.13
rsa==3.4.2
s3transfer==0.2.0
six==1.12.0
text-unidecode==1.2
urllib3==1.24.2
whitenoise==4.1.2
