<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>
        SMS box
    </title>
    <script src="../static/lib/jquery/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src = "../static/details.js"></script>
  </head>
  <body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div style="margin-top:50px;" class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
                    <div class="panel panel-info" >
                        <div class="panel-heading">
                            <div class="panel-title">Send SMS</div>
                        </div>     
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                +91
                                            </span>
                                            <input type="text" class="form-control borderRadius" id="sms_number" name="username" value="" placeholder="Enter Mobile Number">                                        
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        <textarea class="form-control input-sm borderRadius " type="textarea" id="message" placeholder="Message" maxlength="140" rows="7"></textarea>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                   <!--  <span class="help-block">
                                        <p id="characterlimit" class="help-block ">Left&nbsp;</p>
                                    </span> -->
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6" align="right">
                                    <button class="btn btn-success" id="btnSubmit" name="btnSubmit" type="button">Send SMS</button>                                        
                                </div>
                            </div>
                        </div>                     
                    </div>  
                </div> 
                <p>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div style="margin-top:50px;" class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
                    <div class="panel panel-info" >
                        <div class="panel-heading">
                            <div class="panel-title">Send Bulk SMS</div>
                        </div>     
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                +91
                                            </span>
                                            <input type="text" class="form-control borderRadius" id="bulk_sms_numbers" name="bulk_username" value="" placeholder="Enter Multiple Mobile Numbers separated by ;">                                        
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        <textarea class="form-control input-sm borderRadius " type="textarea" id="bulk_message" placeholder="Message" maxlength="140" rows="7"></textarea>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                   <!--  <span class="help-block">
                                        <p id="characterlimit" class="help-block ">Left&nbsp;</p>
                                    </span> -->
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6" align="right">
                                    <button class="btn btn-success" id="btnBulkSubmit" name="btnSubmit" type="button">Send Bulk SMS</button>                                        
                                </div>
                            </div>
                        </div>                     
                    </div>  
                </div>    
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </body>
</html>